nav {
  background-color: var(--sec-color);
  padding: 0;
}

#nova_logo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  position: relative;
  top: -4px;
}

#logo_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: var(--acc2-color);
  position: relative;
  top: 3px;
  margin-left: 15px;
}

#logout_img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  cursor: pointer;
}

#logout_img:hover {
  opacity: 70%;
}

#welcome_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--acc2-color);
  margin-right: 10px;
  position: relative;
  top: 1px;
}

