:root {
  --main-color: #1B266F;
  --sec-color: #196FB2;
  --acc-color: #E3E9EF;
  --acc2-color: #F8F9FA;
  --hover-color: #e0e0e0;
}

.map-info table {
  margin-top: 10px;
}

.map-info span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
}
